body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 10px;
    background-color: #eee;
    margin-bottom: 5px;
    overflow-x: scroll;
}

li:last-child {
    margin-bottom: 0;
}

button.delete {
    background-color: #dc3545;
}

button.unchecked {
    background-color: white;
    border-color: blue;
    color: blue;
}

button.checked {
    background-color: blue;
    color: white;
    border-color: blue;
}
